#timer{
    color: lightgrey;
}
.answerchoice {
	border: 1px solid black;
  border-radius: 5%;
	width: 40%;
	color: black;
  text-align: center;
  margin: 10px auto;
  font-size: 20px;
  background-color: white;
}
.answerchoice:hover {
    background-color: yellow;
    cursor: pointer;
}

img {
  max-height: 250px;
  width: auto;
}

#answerblock {
  text-align: center;

}

#questionblock {
  text-align: center;
  font-weight: bold;
}

#reset {
  visibility: visible;
}

body {
    background-image: url(assets/images/goldenBridge.jpg);
    background-size: cover;
    background-color: black;
    font-family: 'Slabo 27px', serif;
}


h1 {
  text-align: center;
  color: white;
  font-weight: bolder;
  padding: 20px;
  font-size: 45px;
}

p {
  margin: 10px;
  font-weight: bold;
  color: hotpink;
  font-size: 40px;
  background: black;
}

h2, h4 {
  font-size: 40px;
  color: black;
  margin: 30px;
  font-weight: bold;
  background-color: red;
 
}

h3{
    color: lightgrey;
}

.wrapper {
    
    margin: 10px auto;
    background-color: rgba(255, 255, 255, 0.7);
    /* border: 2px solid #403fd3; */
    height: 680px;
    width: 60%;
    text-align: center;
    background-image: url(images/goldenBridge.jpg);
    background-size: cover;
}
    .btn {
        position: relative;
        bottom: -50px;
    }

    .progress {
        width: 300px;
        display: -webkit-inline-flex;
    }


img{
    position: relative;
}